// background colors variable
$main-bg: #f02640; // background
$second-bg: #efefef; // background
$ser-bg: #f2f2f2; // left box wallet bg
$dark-bg: #000; // background & color
$transparent-bg: transparent;

//Colores
$main-color: #333;
$news-color: #838383;
$white-color: #ffffff;

// borders colors
$blocks-border: #e0e0e0; // main slider ads footer etc...
$tabs-color: #eee; // tabs slider sections

// borders thickness
$small-b: 1px; 
$mid-b: 2px;
$large-b: 3px;
$xlarge-b: 4px;

//Font sizes
$font-12: 0.8571 rem; // 12px
$font-14: 1 rem; // Default // 14px
$font-15: 1.071428 rem; // 15px
$font-16: 1.142857 rem; // 16

// Fonts weight
$font-400: 400; // Default font weight
$font-500: 500; // most of title font weight
$font-600: 600; // some font weight
$font-700: 700; 
$font-800: 800; 
$font-900: 900;

// Line height
$line1: 1.5; // Default line height
$line2: 1.6; 
$line3: 1.7; 
$line4: 1.8;  
$line5: 1.9;  

// Margins & Padding
$space5: 0.3571 rem; // 5px
$space10: 0.714 rem; // 10px
$space15: 1.0714 rem; // 15px
$space20: 1.43 rem; // 20px
$space25: 1.7857 rem;  // 25px
$space30: 2.143 rem; // 30px




