
// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 14px;
  //Default font size on html element is 100%, equivalent to 14px;
    @return #{$remSize}rem;
  }
  
//   // Mixin 
//   @mixin fontSize($size) {
//     font-size: $size;
//     font-size: calculateRem($size);
//   }







// background colors variable
$main-bg: #f02640; // background
$second-bg: #efefef; // background
$ser-bg: #f2f2f2; // left box wallet bg
$dark-bg: #000; // background & color
$transparent-bg: transparent;

//Colores
$main-color: #333;
$news-color: #838383;
$input-color: #666;
$white-color: #ffffff;

// borders colors
$blocks-border: #e0e0e0; // main slider ads footer etc...
$tabs-color: #eee; // tabs slider sections

// borders thickness
$small-b: 1px; 
$mid-b: 2px;
$large-b: 3px;
$xlarge-b: 4px;

//Font sizes
$font-12: calculateRem(12px); // ~ 0.85714rem 
$font-14: calculateRem(14px); // 1rem  Default
$font-15: calculateRem(15px); // 15px
$font-16: calculateRem(16px); // 16
$font-24: calculateRem(24px); // 24px 1.715rem

// Fonts weight
$font-400: 400; // Default font weight
$font-500: 500; // most of title font weight
$font-600: 600; // some font weight
$font-700: 700; 
$font-800: 800; 
$font-900: 900;


// Margins & Padding
$space5: calculateRem(5px);   // 5px
$space6: calculateRem(6px);   // 6px
$space7: calculateRem(7px);   // 7px
$space8: calculateRem(8px);   // 8px
$space9: calculateRem(9px);   // 9px
$space10: calculateRem(10px); // 10px
$space12: calculateRem(12px); // ~ 0.85714rem
$space14: calculateRem(14px); // 1rem  Default
$space15: calculateRem(15px); // 15px
$space16: calculateRem(16px); // 16px
$space18: calculateRem(18px); // 18px
$space20: calculateRem(20px); // 20px
$space24: calculateRem(24px); // 24px
$space25: calculateRem(25px); // 25px
$space30: calculateRem(30px); // 30px
$space35: calculateRem(35px); // 35
$space40: calculateRem(40px); // 40px

/// Txt transform
$upper: uppercase;
$lower: lowercase;
$capital: capitalize;


// raduis
$reduis30: 30px;

